<!DOCTYPE  html>
<html>
  <head>
    <title>
      task manager
    </title>
    <link href='style.css' rel="stylesheet">
  </head>
  <body>
    <h1>
      Task Manager
    </h1>
    <form action='/task/create' method="post" >
      <input type=text placeholder="input task here" name="task">
      <button type=submit value='submit' class='blue'>Submit</button>
    </form>
    <div>
      <% for (let i in data) {
        if(!data[i].is_deleted){
          if(data[i].completed === false){
      %>
            <div class='card'>
              <p> <%= data[i].task %> </p>
              <form action='/task/done/<%= data[i]._id %>?_method=PUT' method="POST" >
                <button type="submit" class='done'>Done</button>
              </form>
              <form action='/task/delete/<%= data[i]._id %>?_method=DELETE' method="POST" >
                <button type="submit" class='danger'>Delete</button>
              </form>
            </div>
      <%  }else{ %> 
            <div class='card'>
              <p class='completed'> <%= data[i].task %> </p>
              <form action='/task/delete/<%= data[i]._id %>?_method=DELETE' method="POST" >
                <button type="submit" class='danger'>Delete</button>
              </form>
            </div>
      <%} 
        }
      } %>
    </div>
  </body>
</html>